@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

:root[data-theme='dark'] {
  color-scheme: dark;
}

html,
body {
  height: 100%;
}

body {
  @apply bg-slate-100 text-slate-900 antialiased;
}

.dark body {
  @apply bg-slate-900 text-slate-100;
}

::-webkit-scrollbar {
  width: 0.6rem;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-400/60 rounded-full;
}

.dark ::-webkit-scrollbar-thumb {
  @apply bg-slate-700 rounded-full;
}
